<h1>Chamber: {{model.0.chamber}}</h1>
{{log model.0.chamber}}

<ul>
  {{#each model as |committee|}}
  <li>
    {{#link-to 'committee-detail' committee.committee_id}}
    {{committee.name}} {{/link-to}}

  </li><br>
  {{/each}}
</ul>
