<h1>Chamber: {{model.0.chamber}}</h1>
{{log model.0.chamber}}

<ul>
  {{#each model as |committee|}}
  <li>{{#link-to 'committee'}}
    {{committee.name}}{{/link-to}}<br>
  </li><br>
  {{/each}}
</ul>
